#root,
html {
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 50%;
  margin-inline: auto;
  padding-block: 2rem;

  @media (max-width: 1024px) {
    width: 100%;
    padding: 2rem;
  }
  @media (max-width: 768px) {
    padding: 1rem 0.5rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 1;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
