@use "./reset.scss";
@use "./variables.scss";

body {
  font-size: 18px;
  line-height: 24px;
}

.text-small {
  font-size: 14px;
  line-height: 17px;
  text-decoration: underline;
}

.heading {
  font-weight: bold;
  &.large {
    font-size: 64px;
    line-height: 77px;

    @media (max-width: 425px) {
      font-size: 48px;
    }
    @media (max-width: 345px) {
      font-size: 36px;
    }
  }

  &.medium {
    font-size: 24px;
    line-height: 29px;
  }

  &.small {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
  }
}

.light {
  background-color: variables.$bg-light;
  color: variables.$clr-text-light;
}

.dark {
  background-color: variables.$bg-dark;
  color: variables.$clr-text-dark;
}

.sans {
  font-family: "Inter";
}

.serif {
  font-family: "Lora";
}

.mono {
  font-family: "Inconsolata";
}
